@media only screen and (max-width: 1024px){
	.navMenue{
		max-width: 20%;
		float: right;
		height: 60px;
		line-height: 60px;
		background-color: #07253F;
	    cursor: pointer;
		padding: 1em;

	}

	.bar1, .bar2, .bar3 {
	    width: 35px;
	    height: 5px;
	    background-color: #fff;
	    margin: 6px 0;
	    transition: 0.4s;
	}

	.contact{
		width: 70%;
		height: 50px;
		line-height: 50px;
		float: left;
	    padding: 0;
	    margin: 0;
	    background-color: #07253F;
	}

	.contact ul li{
		list-style: none;
		display: inline-block;
		padding-right: 5px;
		font-size: 1.4em;
		color: #c7950e;
	}

	.book{
		width: 30%;
		height: 50px;
		line-height: 50px;
		float: right;
		text-align: center;
		background: #c7950e;
		margin: 0;
		color: #fff;
		font-size: 1.4em;
		text-transform: uppercase;
		cursor: pointer;
	}

	.instantBooking{
		background-color: #07253F;
		color: #fff;
		box-shadow: 2px 2px 2px #888;
		padding: 10px;
		font-size: 1em;
		text-transform: uppercase;
		margin-top: 1em;
		border: none;
	}

	.sidenav {
	    height: 100%;
	    width: 0;
	    position: fixed;
	    z-index: 101;
	    top: 0;
	    left: 0;
	    background-color: #07253F;
	    overflow-x: hidden;
	    transition: 0.1s;
	    padding-top: 60px;
	}

	.sidenav a {
	    padding: 8px 8px 8px 32px;
	    text-decoration: none;
	    font-size: 2em;
	    color: #b1b1b1;
	    display: block;
	    transition: 0.4s;
	    border-bottom: solid 1px #fff;
	}

	.clickHere{
		margin: 0 auto;
		max-width: 100%; 
		background: #c7950e;
		padding: .1em 1em;
		font-size: 1.2em;
		color: #fff;
	}

	.foot{
		background-color: #455a64;
		text-align: center;
		padding: .5em 1em 0;
		color: #fff;
		font-size: 1.2em;
	}

	/*-----------AboutUs---------*/

	.containerAboutUs{
	    width: 100%;
	    margin: 0;
	    background: #f0f2f5
	}

	.ourStory h1, .management h1,
	.ourTeam h1{
	    font-size: 2em;
	    border-bottom: solid 1px #07253F;
	    margin-bottom: 1em;
	    color: #fff;
	    position: relative;
	}
	.ourStory h1 span, .management h1 span,
	.ourTeam h1 span{
	    background-color: #07253F;
	    padding: 0 1em;
	}

	.internationalDesigns span,
	.infra span,
	.employeeDevelopment span,
	.multipleProperty span{
	    color: #07253F;
	    position: absolute;
	    right: 0;
	    top: 0;
	    padding: 0 5px; 
	    border-radius: 2px;
	    background-color: #d3d3d3;
	    cursor: pointer;
	}

	.discription{
		position: absolute;
		bottom: 5%;
		left: 0;
		height: 50px;
		width: 100%;
		background: #07253F;
		border: none;
	}

	/*----------------Client-------------*/

	.intBooking, .customerService, .weAreExperts{
		z-index:2;
		text-align: center;
		width: 10em;
		height: 10em;
		border-radius: 100%;
		background: rgba(7, 37, 63, 0.87);	
	}

	.imgforCard i{
		font-size: 2em;
		padding: 0 !important;
		color: #07253F;
	}

	.imgforCard{
		width: 50px;
		height: 50px;
		line-height: 50px;
		border: solid 1px #07253F;
		border-radius: 100%;
		margin: 5px auto;
	}

	.request{
		text-align: center;
		width: 80%;
		margin: 0 auto;
		padding: 1em;
		background: #07253F;
		border-radius: 15px;
	}

	.request:hover{
		box-shadow: 2px 2px 2px #07253F;
	}

	.perchaccommodation,
	.arboraccommodation{
	    max-width: 300px;
	    border: solid 1px #d3d3d3;
	    border-radius: 5px;
	     margin: 5px;
	    box-shadow: 2px 2px 2px #888;
	}

    /*---------ContactUs------*/

	.contactNav ul a{
	    background: #07253F;
	    padding: 1em;
	    border: solid 1px #d3d3d3;
	    border-top-left-radius: 15px;
	    border-top-right-radius: 15px;
	    color: #fff;
	    font-size: 1.2em;
	    text-decoration: none;
	}

	.contactNav ul a:hover{
	    background-color: hsla(348, 73%, 46%, 0.87);;
	    color: #fff;
	}

	.guestInquiryHead, 
	.franchisingHead, 
	.jobOpeningsHead{
	    background-color: #07253F;
	    color: #fff;
	    border-radius: 3px;
	}

	.formForGuestInq, 
	.formForfranchising, 
	.formForjobOpenings{
	    width: 90%;
	    margin: 0 auto;
	    padding: 1em;
	    border: solid 1px #d3d3d3;
	    border-radius: 10px;
	    background: #fff;
	}

	.formForGuestInq button, 
	.formForfranchising button, 
	.formForjobOpenings button{
	    display: block;
	     margin: 0 auto;
	     border: none;
	     padding: .5em 8em .5em 8em;
	     background-color: #07253F;
	     font-size: 1.6em;
	     border-radius: 15px;
	     color: #fff;
	}

	.formForGuestInq button:hover{
	   background-color: hsla(348, 73%, 46%, 0.87);
	} 
	.formForfranchising button:hover{
	    background-color: hsla(348, 73%, 46%, 0.87);
	} 
	.formForjobOpenings button:hover{
	    background-color: hsla(348, 73%, 46%, 0.87);
	}

	/*-----------------Privacy Policy---------*/

	.policiesLink a{
	   font-size: 1.4em;
	   width: 190px;
	   height: 80px;
	   line-height: 80px;
	   text-align: center;
	   cursor: pointer;
	   border: solid .1px #000;
	   text-decoration: none;
	   background-color:#07253F;
	   border-radius: 3px;
	   color: #fff; 
	   margin: 5px;
	}

	.activeonClick{
	    background-color: hsla(348, 73%, 46%, 0.87) !important; 
	} 

	.policiesLink a:hover{
	    background-color: hsla(348, 73%, 46%, 0.87); 
	}

	.definetion ul, 
	.process ul, 
	.validity ul, 
	.claim ul, 
	.dispute ul {
	    width: 100%;
	    padding: 0em 2em;
	    position: relative;
	    background-color: #07253F;
	    border-radius: 5px;
	}

	.alineRight{
	    position: absolute;
	    right: 5px;
	    color: hsla(348, 73%, 46%, 0.87) !important;
	}

	.fix_bottom_btn{
		position:fixed;
		bottom:0px;
	    padding: 15px;
	    box-shadow: 1px 2px 2px 4px;
	    color: #fff;
	    font-size:20px;
		background:orange;
		z-index:10
	}
}